.root{
	-fx-background: rgb(240, 240, 255);
	-fx-base: rgb(255,255,255);
	-fx-bakground-radius:75px;
	
	
}
.label{
	-fx-font:bold 16pt "Times New Roman";
	-fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);  
}