.root{
	-fx-background: rgb(240, 240, 255);
	-fx-base: rgb(255,255,255);
	-fx-font-family:"Times New Roman";
	
}
#head{
	-fx-text-fill:  rgb(10,10,255);
	-fx-font:bold 30pt "Times New Roman";
	-fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);  
}
.label{
	-fx-text-fill:  #000000;
	-fx-font-size:14pt;
}
.button{
	-fx-font-size: 14pt ;
	-fx-background-colour:rgb(255, 255, 255);
	-fx-border-radius: 20px;
	-fx-background-radius: 15px;
}
.rectangle{
	-fx-arcradius:30px;
}
#lstaus{
	-fx-font-size:14px;
}